---
kind: Service
apiVersion: v1
metadata:
  name: patterneer-fe
  namespace: {{ namespace }}
spec:
  ports:
  - name: patterneer-fe
    port: 80
    targetPort: django
  selector:
    name: patterneer-fe
