---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: patterneer-fe
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: patterneer-fe
  serviceName: patterneer-fe
  template:
    metadata:
      name: patterneer-fe
      labels:
        name: patterneer-fe
    spec:
      imagePullSecrets:
      - name: patterneer-fe-pullsecret

      initContainers:

      # An init-container to wait for the Manager...
      - image: registry.gitlab.com/matilda.peak/patterneer-fe:{{ fe_image_tag }}
        name: patterneer-fe-manager-wait
        command:
        - './manager_wait.py'
        env:
        # Manager details...
        - name: PFE_MANAGER_ADDR
          value: http://patterneer-manager.patterneer.svc
        - name: PFE_MANAGER_PORT
          value: "80"
        - name: PFE_MANAGER_API
          value: "{{ manager_api }}"

      # An init-container to wait for our database...
      - image: registry.gitlab.com/matilda.peak/patterneer-fe:{{ fe_image_tag }}
        name: patterneer-fe-db-wait
        command:
        - './db_wait.py'
        env:
        # Patterneer (FE) Database name and user details...
        - name: PFE_DB_NAME
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: db-name
        - name: PFE_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: db-password
        - name: PFE_DB_USER
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: db-user
        # Postgres details...
        - name: PG_ADDR
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: pg-addr
        - name: PG_PORT
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: pg-port

      containers:

      # The Patterneer FE container...
      - image: registry.gitlab.com/matilda.peak/patterneer-fe:{{ fe_image_tag }}
        name: patterneer-fe
        ports:
        - name: django
          containerPort: 8000
          protocol: TCP
        readinessProbe:
          initialDelaySeconds: 30
          timeoutSeconds: 2
          tcpSocket:
            port: 8000
        livenessProbe:
          timeoutSeconds: 2
          initialDelaySeconds: 45
          tcpSocket:
            port: 8000
        resources:
          requests:
            cpu: 1
            memory: 256Mi
          limits:
            cpu: 1
            memory: 256Mi
        env:
        # Django demo users details...
        - name: PFE_ABC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: fe-abc-password
        - name: PFE_EAM_PASSWORD
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: fe-eam-password
        # Django superuser details...
        - name: PFE_SUPERUSER_NAME
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: fe-superuser-name
        - name: PFE_SUPERUSER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: fe-superuser-password
        - name: PFE_SUPERUSER_EMAIL
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: fe-superuser-email
        # Patterneer (FE) Database name and user details...
        - name: PFE_DB_NAME
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: db-name
        - name: PFE_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: db-password
        - name: PFE_DB_USER
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: db-user
        # Django secrets/config
        - name: PFE_DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: django-secret-key
{% if fe_django_debug %}
        - name: PFE_DJANGO_DEBUG
          value: "Yes"
{% endif %}
        # Postgres details...
        - name: PG_ADDR
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: pg-addr
        - name: PG_PORT
          valueFrom:
            secretKeyRef:
              name: patterneer-secrets
              key: pg-port
        # Manager details...
        - name: PFE_MANAGER_ADDR
          value: patterneer-manager
        - name: PFE_MANAGER_PORT
          value: "80"
        - name: PFE_MANAGER_API
          value: "{{ manager_api }}"
        # Runner details...
        - name: PFE_RUNNER_PORT
          value: "{{ runner_port }}"
        - name: PFE_RUNNER_API
          value: "{{ runner_api }}"
        # Django logging...
        - name: PFE_DJANGO_LOG_LEVEL
          value: "{{ fe_log_level }}"
