---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: patterneer-manager
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: patterneer-manager
  serviceName: patterneer-manager
  template:
    metadata:
      name: patterneer-manager
      labels:
        name: patterneer-manager
    spec:
      imagePullSecrets:
      - name: patterneer-manager-pullsecret

      containers:

      # The Patterneer Manager container...
      - image: registry.gitlab.com/matilda.peak/patterneer-manager:{{ manager_image_tag }}
        name: patterneer-manager
        ports:
        - name: rest
          containerPort: 8080
          protocol: TCP
        readinessProbe:
          initialDelaySeconds: 5
          timeoutSeconds: 2
          tcpSocket:
            port: 8080
        livenessProbe:
          timeoutSeconds: 2
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: 500m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 100Mi
        env:
        # Stuff that will get passed to the Runners...
        # Chronicler details...
        - name: CHRONICLER_ADDR
          value: "{{ chronicler_addr }}"
        - name: CHRONICLER_PORT
          value: "{{ chronicler_port }}"
        # Runner configuration...
        - name: RUNNER_TAG
          value: "{{ runner_tag }}"
        - name: RUNNER_CHRONICLER_KEY
          value: "{{ runner_chronicler_key }}"
        # Per-message resource transmission delay...
        - name: RESOURCE_MESSAGE_PAUSE
          value: "{{ manager_resource_message_pause }}"
