---
kind: Service
apiVersion: v1
metadata:
  name: patterneer-manager
  namespace: {{ namespace }}
spec:
  ports:
  - name: patterneer-manager
    port: 80
    targetPort: rest
  selector:
    name: patterneer-manager
