---
kind: Secret
apiVersion: v1
metadata:
  name: patterneer-manager-pullsecret
  namespace: {{ namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ manager_image_pull_secret }}
