---
kind: Secret
apiVersion: v1
metadata:
  name: patterneer-secrets
  namespace: {{ namespace }}
type: Opaque
stringData:
  db-name: "{{ db_name }}"
  db-user: "{{ db_user }}"
  db-password: "{{ db_password }}"
  django-secret-key: "{{ django_secret_key }}"
  fe-abc-password: "{{ fe_abc_password }}"
  fe-eam-password: "{{ fe_eam_password }}"
  fe-superuser-name: "{{ fe_superuser_name }}"
  fe-superuser-password: "{{ fe_superuser_password }}"
  fe-superuser-email: "{{ fe_superuser_email }}"
  pg-addr: "{{ postgres_addr }}"
  pg-port: "{{ postgres_port }}"
